/*Imports*/
@import url(fonts.google.com);

html {
  height: max-content;
}

body {
  min-height: 100vh;
  margin: 0;

  background-repeat: no-repeat;
  background-attachment: scroll;

  background-image: linear-gradient(to bottom, #140a89, #4c1775, #a58ec1);
}

/*entire title section*/
.title-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-image: url("img/moonHead.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100%;
}

/*the title*/
.title {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: italic;
  font-size: 100px;
  color: #5bbaa8;

  display: flex;
  padding: 10px;
}
